---
page_title: "{{.Name}} Data Source - {{.ProviderName}}"
subcategory: "Deployment"
description: |-
{{ if .Description -}}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{- end }}
---

# {{.Name}} (Data Source)

{{ if .Description -}}
{{ .Description | trimspace }}
{{- end }}

## Example Usage

```terraform
data "dokploy_deployment" "last_deploy" {
  id = "deployment-id-123"
}

output "deploy_status" {
  value = data.dokploy_deployment.last_deploy.status
}
```

{{ .SchemaMarkdown | trimspace }}
