---
page_title: "{{.Name}} Data Source - {{.ProviderName}}"
subcategory: "Registry"
description: |-
{{ if .Description -}}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{- end }}
---

# {{.Name}} (Data Source)

{{ if .Description -}}
{{ .Description | trimspace }}
{{- end }}

## Example Usage

```terraform
data "dokploy_registry" "ghcr" {
  name = "github-registry"
}

output "registry_username" {
  value = data.dokploy_registry.ghcr.username
}
```

{{ .SchemaMarkdown | trimspace }}
